.features-icons
{
    font-size: 40px;
}
.spec-image
{
   
    height: 400px;
    width: 100%;
    background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the image horizontally and vertically */
  background-size: contain; /* Adjust the image to fit within the div (can be "cover" if you prefer it to fill the div) */

}
.showcase-text
{
    padding:20px;
}
.testimonial-img
{
    width: 100px;
    height: 100px;
}